[*.cs]

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = silent

# IDE0049: Simplify Names
dotnet_style_predefined_type_for_member_access = false

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = suggestion

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = silent

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = silent

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = silent

# NUnit2005: Consider using Assert.That(actual, Is.EqualTo(expected)) instead of Assert.AreEqual(expected, actual)
dotnet_diagnostic.NUnit2005.severity = suggestion

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = suggestion

# CS8625: Cannot convert null literal to non-nullable reference type.
dotnet_diagnostic.CS8625.severity = suggestion

# NUnit2015: Consider using Assert.That(actual, Is.SameAs(expected)) instead of Assert.AreSame(expected, actual)
dotnet_diagnostic.NUnit2015.severity = suggestion
